numpy
torch
pandas
tqdm
wandb
torchvision
datasets
nltk
transformers
Pillow
streamlit
fastapi
fastapi==0.115.2
uvicorn==0.32.0
pydantic==2.9.2
pydantic-settings
pandas==2.2.3
torch
minio
python-dotenv
pyarrow
python-multipart
streamlit==1.39.0
requests==2.31.0
pytest